.btn-search, .btn-add, .btn-primary {
    display: block;
    margin-bottom: 10px;
    height: 40px;
}

.btn-search {
    width: 200px;
    height: 50px;
    color: white;
    border: 2px solid teal;
    border-radius: 20px;
    padding: 20px;

}

.btn-add {
    width: 40px;
    background-color: #00d1b2;
    color: #fff;
    border-radius: 50%;
    border: none;
}

.btn-primary {
    width: 150px;
    background-color: #2b78e4;
    color: #fff;
    border: 2px solid #000;
    box-shadow: 3px 3px black;
}
